.card {
    width: 21vw;
    height: 11.8vw;
    border-radius: 2vw;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(51, 30, 96),
                -15px -15px 30px rgb(140, 90, 245);
}

.mylatest {
    margin-top: 35vh;
    font-family: 'Jersey 10';
    color: white;
    font-size: 6vh;
    letter-spacing: 4px;
    margin-left: 17vw;
    text-wrap: nowrap;
}

.projects ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    //margin-left: 15%;   
    //margin-top: 15vh;
    display: flex;
    justify-content: center;
    //display: grid;
    //place-items: center;
}

.projects li {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: larger;
    float: left;
    display: block;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}

.card h1 {
    margin-right: 10vw;
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.5vw;
    margin-top: -2vh;
}
.card p {
    font-size: 1.5vw;
    margin-right: 17vw;
    padding-top: 1vh;
}

.card h2 {
    color: white;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 1vw;
    text-wrap: wrap;
    text-align: left;
    margin-left: 1vw;
    margin-right: 1vw;
}

@media only screen and (max-width: 1000px) {
    /* styles for devices with a maximum screen width of 1000px */
    .mylatest {
        font-size: 7vw;
        margin-left: 17vw;
    }
    .projects ul {
    display: grid;
    place-items: center;
    }
    .card {
    width: 70vw;
    height: 40vw;
    }

    .card h1 {
        margin-right: 40vw;
        color: white;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 4vw;
        margin-top: -1vh;
    }
    .card p {
        font-size: 4vw;
        margin-right: 58vw;
        padding-top: 1.5vh;
    }
    
    .card h2 {
        color: white;
        font-family: 'Open Sans';
        font-weight: 100;
        font-size: 3vw;
        text-wrap: wrap;
        text-align: left;
        margin-left: 3vw;
        margin-right: 1vw;
    }
    
}