body {
    background-color: #131313;
}
.aboutpage {
    margin-top: -11vh;
}

.projectspage {
    margin-top: -25vh;
}

.contactpage {
    margin-top: 20vh;
}

@media only screen and (max-width: 1000px) {
    /* styles for devices with a maximum screen width of 1000px */
    .aboutpage {
        margin-top: vh;
    }
    .contactpage {
        margin-top: 30vh;
    }
}